* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: #e0f2fe;   /* << different letter color */
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- INPUT SCREEN ---------- */

.input-box {
  background: #020617;
  padding: 40px;
  border-radius: 14px;
  text-align: center;
  width: 380px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

.input-box h1 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
  outline: none;
}

.input-box button {
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.input-box button:hover {
  background: #0ea5e9;
}

/* ---------- DASHBOARD ---------- */

.dashboard {
  width: 95%;
  max-width: 1100px;
  padding: 30px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  color: #38bdf8;
}

.url {
  text-align: center;
  font-size: 13px;
  margin-bottom: 30px;
  color: #94a3b8;
}

/* ---------- STATS ---------- */

.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.stat-card {
  background: #020617;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  min-width: 180px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.stat-card h3 {
  font-size: 15px;
  margin-bottom: 6px;
  color: #7dd3fc;
}

.stat-card p {
  font-size: 22px;
  font-weight: bold;
}

/* ---------- CHARTS ---------- */

.charts {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.chart-card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.chart-card h3 {
  text-align: center;
  margin-bottom: 14px;
  color: #7dd3fc;
}

.chart-wrapper {
  height: 260px;
}

/* ---------- TOP WORDS ---------- */

.top-words {
  margin-top: 40px;
  text-align: center;
}

.top-words h3 {
  margin-bottom: 14px;
  color: #7dd3fc;
}

.top-words ul {
  list-style: none;
  padding: 0;
}

.top-words li {
  background: #020617;
  margin: 8px auto;
  padding: 10px;
  width: 240px;
  border-radius: 8px;
  color: #e0f2fe;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}

.top-words span {
  color: #38bdf8;
}